<span style="text-align: center;"><h1> Welcome to my blog! </h1>

<%#= link_to "All posts", articles_path %>

<a style="text-align: center; "href="https://firstowntry-protegemoi.c9users.io/articles"><button type="button" class="btn btn-info">All Articles</button> </a></span>